<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todo</h1>
    <p>todoの内容: <%= todo.content %></p>
    <p>作成時刻: <%= todo.createdAt %></p>
    <p>更新時刻: <%= todo.updatedAt %></p>
    <a href="/todos">戻る</a>
</body>
</html>